<!doctype html>

<html>
  <head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="lib/style.css">
    <script src="../../utils/lib/angular.js"></script>
		<script type="text/javascript" src="../../utils/lib/jquery.js"></script>
    <link rel="stylesheet" href="../../utils/console.css"></link>
    <script type="text/javascript" src="../../utils/console.js" defer></script>
    <script src="script.js"></script>
  </head>

  <body ng-app="promises.tutorial" ng-cloak>
    <div ng-controller="PhantomController">
		{{name.value}}
		<br />
		<input type="checkbox" ng-model="checkboxModel" ng-change="recalculateName()">
		<button ng-click="otherReuse()"> Fire other reuse! </button>
    </div>
  </body>
</html>
